<a href="https://colab.research.google.com/github/GuiSegabinassi/Dados-League-of-Legends/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [28]:
df = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [12]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [13]:
df.tail()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
171,E0,04/01/2023,19:30,Southampton,Nott'm Forest,0,1,A,0,1,...,1.72,-0.25,2.04,1.89,2.08,1.88,2.12,1.93,2.04,1.85
172,E0,04/01/2023,19:45,Leeds,West Ham,2,2,D,1,1,...,1.90,0.00,2.11,1.82,2.10,1.84,2.13,1.85,2.07,1.81
173,E0,04/01/2023,20:00,Aston Villa,Wolves,1,1,D,0,1,...,1.70,-0.50,1.94,1.99,1.95,1.97,2.05,2.00,1.95,1.93
174,E0,04/01/2023,20:00,Crystal Palace,Tottenham,0,4,A,0,0,...,1.89,0.25,1.99,1.94,2.01,1.98,2.01,1.98,1.95,1.93
175,E0,05/01/2023,20:00,Chelsea,Man City,0,1,A,0,0,...,2.11,0.75,2.09,1.84,2.07,1.86,2.13,1.86,2.06,1.82

In [29]:
df = df[['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','B365H','B365D','B365A']]

In [30]:
df.columns = ['Data', 'Mandate', 'Visitante', 'Gols Mandante', 'Gols Visitante', 'Resultado', 'Odds Mandante','Odds Empate','Odds Visitante']

In [ ]:
df

In [33]:
df.to_excel("PremierLeague.xlsx")